[2016-09-28 21:21] JamiesHQ opened #1 "Typo in repo name?"
Hi @jasongrout and @blink1073 : is the "ts" at the end of "extension" deliberate or is it a typo? Readme has it spelled ok. thx.

[2016-09-28 21:30] blink1073 commented on #1
It is deliberate (though I think it should be renamed to something like `jupyterlab-extension-ts-cookiecutter` to make it clearer).

[2016-09-28 21:31] jasongrout commented on #1
Yep, this is the second person that thought it was a typo out of a handful that know about it. Sounds like we should rename it...

[2016-09-28 21:34] willingc commented on #1
@jasongrout I would go ahead and rename. It's fairly awkward as is. I did a double take the other night to make sure I was looking at the right jupyterlab-extension repo. Though long @blink1073's suggestion works (and isn't too bad with tab completion).

[2016-09-28 21:34] yuvipanda commented on #1
+1 I too assumed it's a typo :)

On Wed, Sep 28, 2016 at 2:31 PM, Jason Grout <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2016-09-28 21:50] sccolbert commented on #1
:+1: for `jupyterlab-extension-cookiecutter-ts`. Can we also rename the `js` version to include "js"? Just to be fair/consistent...

[2016-09-28 21:51] ivanov commented on #1
👍  on `-ts` at the end. if we put the `-ts` at the end, all languages we have cookiecutters for will be grouped together in an alphabetical listing and yet easily distinguished.

[2016-09-28 21:51] blink1073 commented on #1
...and create an org for `jupyterlab`?  There are currently four jupyterlab-related repos (outside of itself).

[2016-09-28 21:56] jasongrout commented on #1
I just renamed the repo to `jupyterlab-extension-cookiecutter-ts`

[2016-09-28 21:56] #1 closed

[2016-09-28 22:21] willingc commented on #1
Can we discuss this request on Friday? I can see how it makes sense from a repo maintenance standpoint though I think that it is worth discussing how this impacts the end user and their view of Jupyter as a unified project. (This came up a few times at PyData Carolinas related to the Tuesday and Friday dev calls. Some folks, incorrectly, had assumed that there was an upcoming split in the project.

[2016-09-28 22:22] willingc commented on #1
Thanks for the much improved naming of the cookiecutter repos 😄

[2016-09-28 22:23] blink1073 commented on #1
Sounds good, @willingc.

[2016-10-27 21:45] gnestor opened #7 "Error: No provider for: jupyter.services.document-registry."
Moved to https://github.com/gnestor/jupyterlab_json/issues/1

[2016-10-27 21:48] #7 closed

[2017-08-26 18:31] fm75 opened #22 "Add LICENSE"

[2017-08-26 18:42] #22 closed

[2017-08-27 13:59] SylvainCorlay opened #24 "CC-0 for cookiecutters"
A license file was just added (BSD 3-clause).

I think that for most cookiecutters in the org, we opted for CC-0 https://github.com/jupyterlab/extension-cookiecutter-ts/pull/23

[2017-08-27 14:31] jzf2101 commented on #24
@SylvainCorlay Do we have documentation for that?

[2017-08-27 15:38] SylvainCorlay commented on #24
Code snippets in documentation and examples are usually cc-0 so that people can use them to create software with other licenses.

I am posting this from my phone so I cannot look it up easily but there have been discussions in other jupyter subprojects.

[2017-09-03 17:58] jzf2101 commented on #24
I'm ok with that.  I just want us to confirm this and docuement it for future reference.  Will make changes following the Tuesday meeting.

[2017-09-08 02:26] jzf2101 commented on #24
@fm75 would you be interested in making this change?

[2017-12-17 23:18] chfw opened #32 ""jupyterlab_myextension@0.1.0" is not compatible with the current JupyterLab"
I just managed to follow till this section: http://jupyterlab-tutorial.readthedocs.io/en/latest/xkcd_extension_tutorial.html#build-and-install-the-extension-for-development

And got these:

"jupyterlab_myextension@0.1.0" is not compatible with the current JupyterLab
Conflicting Dependencies:
JupyterLab              Extension            Package

What have I done? Or is this repo out of date?

[2017-12-17 23:28] blink1073 commented on #32
Hi @chfw, it looks like the cookie cutter install picked up an older version of this repo.  I'm not a computer for the next couple of days, but will look into it when I get back.

[2017-12-17 23:33] blink1073 commented on #32
You might try seeing if there is a stale version in a ~/.cookiecutters/ directory (or Windows equivalent).

[2017-12-18 00:07] chfw commented on #32
deleted ~/.cookiecutters/extension-cookiecutter-ts and tried again. The same outcome.

[2017-12-19 08:55] blink1073 commented on #32
Hmm, I ran the following locally:

[code]

If you run the above commands do those versions match?

The following worked as expected:

[code]

When I ran `jupyter lab` I saw `JupyterLab extension jupyterlab_myextension is activated!` in the browser JavaScript console.

[2018-05-26 12:37] fcollonval opened #36 "Add "ES2015.Collection" in ts config"
Hello,

When extending Jupyterlab Menu, I tumbled on an error of `Set` being unknown (surprising for a beginner). As the fix is simply to add `ES2015.Collection` in tsconfig.json. I think adding it by default in the cookiecutter template would ease the day for extension developpers.

Cheers

[2018-07-29 05:59] jandrewtorres commented on #32
I ran into this issue when creating my first extension.

JupyterLab is in pre-beta development so the default release version is rapidly changing, and this repo often is not updated to reflect the changes.

When creating an extension, be sure your environment's jupyterlab install and the cookie cutter template's jupyterlab npm package are the latest release versions.

### The solution that worked

[2018-07-29 12:46] blink1073 commented on #32
Hi @jandrewtorres, this repo is updated as part of the release checklist for JupyterLab itself (I just merged the PR that gives it compatibility with the 0.33 release).  You had the unfortunate timing of trying to use it during a release cycle.  We don't have a single top level `jupyterlab` package, but you could use `@jupyterlab/metapackage` as a shorthand, which pulls in all the packages.

I add

[2018-07-29 22:56] jandrewtorres commented on #32
@blink1073 Unfortunate timing sums up just about everything I do lol. Thanks for clearing it up. I was sure I was overthinking it a bit as I was up late trying to get going on the document-wide find and replace extension. I will submit a PR for links to extension tutorials in README tonight.

[2019-06-22 18:10] marian-vignau opened #45 "I tried to use it in a directory without permissions, and I it crashed and don't give the correct error"
I installed cookie cutter using conda, following https://jupyterlab.readthedocs.io/en/stable/developer/xkcd_extension_tutorial.html#xkcd-extension-tutorial
I stay in the conda software directory, ~/miniconda.
When I run this cookie cutter extension, crashes saying

The correct answer must be PermissionsError, because this was the real original error, normal user  doesn't have write privileges.

[2019-06-22 18:32] jasongrout commented on #45
Can you tell us exactly what commands you ran and which command gave you the error? The question is here is whether this should be reported to conda or the cookiecutter project.

[2019-11-16 15:46] fcollonval commented on #32
This is no more relevant => closing it. Please open a new issue, if you have trouble with the template

[2019-11-16 15:46] #32 closed

[2019-11-16 15:46] fcollonval commented on #36
No more applicable. So closing it.

[2019-11-16 15:46] #36 closed

[2020-04-18 09:23] fcollonval opened #60 "CI failing due to puppeteer@3.0.0"
Since 2 days, the check browser test is failing due to the usage of puppeteer@3.0.0.

An issue is opened there: https://github.com/puppeteer/puppeteer/issues/5674

[2020-04-19 10:02] jtpio commented on #60
Thanks @fcollonval for opening the issue.

Do you think it would be worth applying a fix by pinning `puppeteer` to `^2` in the [browser check](https://github.com/jupyterlab/jupyterlab/blob/f0153e0258b32674c9aec106383ddf7b618cebab/jupyterlab/browser_check.py#L147)?

[2020-04-19 12:45] blink1073 commented on #60
I'm hesitant to make a new set of releases for this, at the very least I don't have the bandwidth until Wednesday.

[2020-04-19 17:37] jtpio commented on #60
As mentioned in https://github.com/puppeteer/puppeteer/issues/5674, on possible workaround for now is to add the following step to the GitHub Actions workflow:

[code]

[2020-04-22 12:56] fcollonval commented on #60
As per https://github.com/actions/virtual-environments/issues/732, the upstream Ubuntu image will be update to add that new dependency. Should we update the repo with the temporary fix or just wait for an update of image?

[2020-04-24 08:19] blink1073 commented on #60
I released JupyterLab 2.1.1 with a pinned version of puppeteer.  I tried to run our failing CI build, but it is currently still picking up 2.1.0 in the install step.

[2020-04-25 16:34] fcollonval commented on #60
Thanks @blink1073 !!
The CI is now passing.

[2020-04-25 16:34] #60 closed

[2020-05-12 11:47] blink1073 opened #63 "CI build is temporarily broken"
It will be broken until a new release of `typescript-eslint` (should be soon):

https://github.com/typescript-eslint/typescript-eslint/pull/2010#issuecomment-627105534

[2020-06-05 08:23] #63 closed

[2020-07-28 12:12] jtpio opened #69 "Update to TypeScript 3.9"
Since JupyterLab has now switched to TypeScript 3.9, it would be nice if the extension cookiecutter would use the same version too.

We could also update the `eslint` dependencies at the same time.

[2020-07-31 14:20] afshin opened #71 "Strict null checks should default to true"
As a time-saving quality of life measure for any extension author who might want their extension merged into core, or just wants more reliable code, I propose we turn this check on. This default was a bit painful when we were merging `@jupyterlab/debugger` into core.

https://github.com/jupyterlab/extension-cookiecutter-ts/blob/cb9ca8c37bf1c5c28be61b31e6fcd0cf60487a5f/%7B%7Bcookiecutter.extension_

[2020-07-31 19:48] bollwyvl commented on #71
It's probably worth exploring whatever other goodies are available in ts 3.9+... there's really no reason to do a new-start without the maximum support from the compiler.

I do usually end up having to add `skipLibCheck: true`, as a lot of the stuff out there is pretty crazy and not so well-behaved.

[2020-08-13 15:20] goanpeca opened #72 "Update cookiecutter to include localization by default"
Add localization by default but provide and option to opt-out.

[2020-08-20 18:52] #69 closed

[2020-09-16 19:32] jtpio opened #87 "jlpm run build:all by default?"
Currently in 3.0 the default `build` script doesn't execute the `jupyter labextension build` command:

https://github.com/jupyterlab/extension-cookiecutter-ts/blob/e1a6cd634939eac14e7ccf956ea8b593466bc78e/%7B%7Bcookiecutter.python_name%7D%7D/package.json#L28-L31

Maybe `jlpm run build` could actually replace `jlpm run build:all`, so the workflow and commands would stay the same when switching to n

[2020-09-16 19:36] jtpio commented on #87
So it also matches the `watch` scripts:

https://github.com/jupyterlab/extension-cookiecutter-ts/blob/e1a6cd634939eac14e7ccf956ea8b593466bc78e/%7B%7Bcookiecutter.python_name%7D%7D/package.json#L40-L42

[2020-09-16 22:31] jasongrout commented on #87
Fixed in #88

[2020-09-16 22:31] #87 closed

[2020-09-17 20:41] jasongrout opened #90 "Add template for settings files"
See https://github.com/jupyter-widgets/ipywidgets/pull/2973/commits/f73c36e5b87ce976e9bb266f0d89f12bc50ef425 for example.

[2020-09-18 15:08] vidartf commented on #71
It is also a little quicker :)

[2020-09-21 11:26] vidartf opened #92 "3.0 prerelease toml dependency"
In the 3.0 pyproject.toml file, we specify the dependency on lab as `jupyterlab~=3.0.0b6`. However, this has some "interesting" matching mechanics (ref https://www.python.org/dev/peps/pep-0440/#compatible-release):

[code]

Which means any package released with this will, in the future, always end up installing 3.0.0 final, but not any hotfixes (3.0.1).

I can do a PR to fix this, but what do we w

[2020-09-22 11:16] #92 closed

[2020-09-25 10:58] jtpio opened #96 "Update scripts to build with source maps by default"
At the moment on the `3.0` branch, `jlpm run build` will run the following:

https://github.com/jupyterlab/extension-cookiecutter-ts/blob/479bb3d0a7f6c57ee1bf8d37e94c9bc1758e6c3c/%7B%7Bcookiecutter.python_name%7D%7D/package.json#L28-L31

However extension authors will want to use the browser dev tools to debug the extension, which requires running `jlpm run build:labextension:dev` to generate the

[2020-09-25 11:04] jtpio commented on #96
Or actually rename `build:dev` to `build:prod` and make `build` be the dev script.

[2020-09-25 11:10] hbcarlos commented on #96
I think developing an extension we will use more times the `build:dev`.  Would be nice to have `build` as a default for `build:dev`.

[2020-10-05 15:44] jtpio opened #101 "Add instructions to release on PyPI and conda forge"
At the moment the `3.0` branch of the cookiecutter mentions how to install the extension, but doesn't say how to release to PyPI and conda-forge:

https://github.com/jupyterlab/extension-cookiecutter-ts/tree/d8c08687f8661545a65d65ab8eb9433267a45b35/%7B%7Bcookiecutter.python_name%7D%7D

We should a section with the following commands:

[code]

[2020-10-05 15:45] jtpio commented on #101
The widget cookiecutter has some instructions here:

https://github.com/jupyter-widgets/widget-ts-cookiecutter#releasing-your-initial-packages

[2020-10-05 15:47] goanpeca commented on #101
How about automating the release process on GH CI, so that the tag triggers the whole process and publishes things using a PyPI token, hopefully associated to the bot account.

Thoughts?

[2020-10-05 15:52] jtpio commented on #101
Sounds good!

Maybe this could be made as an opt-in (or opt-out) option while going through the steps of the cookiecutter?

[2020-10-05 15:53] jtpio commented on #101
I've used the "GitHub Release" event before to trigger automated releases to PyPI and npm, but doing it on a tag could also work.

[2020-10-05 16:53] goanpeca commented on #101
Cool, I will take a look at ti :-)

[2020-10-05 17:10] jtpio commented on #101
Awesome, thanks!

[2020-10-15 07:39] echarles opened #102 "Ways to ensure python and node versions remain coherent"
It would be logical to have the version pulled from the `package.json` rather than from `_version.py`

The generated artifact is a python package, but having two places to define the version is not how it should be.

This has been implemented by @jtpio in https://github.com/jtpio/jupyterlab-python-file/pull/19

[2020-10-15 08:58] jtpio commented on #102
Some widget authors also do this to keep the Python and JS versions in sync.

[2020-10-15 12:37] goanpeca commented on #102
Are we using already bump2version? That has made my life easy with many projects.

[2020-10-15 14:36] echarles commented on #102
bump2version is used in the jupyerlab release scripts. I don't think it is used in `jupyterlab.upgrade_extension`.

I guess the idea of the cookiecutter is to enforce specific versions based on the branches user requests, so we don't need to bump versions here - e.g. `cookiecutter  https://github.com/jupyterlab/extension-cookiecutter-ts --checkout 3.0` will enforce deps version for jlab3

[2020-10-15 15:09] goanpeca commented on #102
You are right

[2020-10-23 19:27] jtpio commented on #96
Fixed by https://github.com/jupyterlab/extension-cookiecutter-ts/pull/98

[2020-10-23 19:27] #96 closed

[2020-10-24 07:42] echarles opened #106 "Enfoce JupyterLab3 keyword for JupyterLab 3"
I have read @ianhi suggesting using Trove classification https://github.com/pypa/trove-classifiers/blob/master/src/trove_classifiers/__init__.py.

As workaround, we could also enforce jupyterlab3 as keyword that would make it clear that we don't search on server side components of former jupyterlab2 extensions.

[code]

[code]

[2020-10-24 07:43] echarles commented on #106
cc/ @jasongrout @jtpio @goanpeca

[2020-10-24 15:43] goanpeca commented on #106
This is agreat idea!

[2020-10-24 15:54] goanpeca commented on #106
Would it make sense to have some "check" script so that documentation can include running this script (latest version available), that way we can enforce that before making a release of a new extension we check for some things, like including this keyword?

Much like `check-manifest` tool work, like `jlab-check-extension`.

[2020-10-24 18:42] jasongrout commented on #106
It looks like we could clear the bar for adding a trove classifier. Here's a recent addition, for example: https://github.com/pypa/trove-classifiers/pull/53

Here is a comment about the requirements: https://github.com/pypa/trove-classifiers/pull/24#issuecomment-617753167

I think we could get at least 10 python packages for jlab plugins that would vouch for having a classifier.

[2020-10-27 18:21] jtpio commented on #102
Fixed by #108

[2020-10-27 18:21] #102 closed

[2020-11-01 17:06] dsblank opened #112 "Palette was undefined"
Running the 3.0 version of cookiecutter-ts, the palette was null.

I was able to work around this by adding the following:

[code]
I'm not sure exactly what is required to get the palette, but this worked.

[2020-11-01 17:14] dsblank commented on #112
This actually belongs in the tutorial docs I think.

[2020-11-01 17:14] #112 closed

[2020-11-09 10:37] flying-sheep opened #113 "Use some modern packager"
Using setup.py isn’t exactly best practice for new projects anymore, so we should rather use flit or poetry here.

Also `os.path` is really not what should be used since `pathlib` exists

[2020-11-09 10:41] #113 closed

[2020-12-27 20:00] fcollonval opened #125 "Should we add `packaging` to handle version?"
Version specifiers for node and Python differ when targeting pre, post releases. The python function `packaging.version.parse` is able to convert semver version to Python version. But that means adding it as dependency for all extensions. Should we modify the cookiecutter to handle that or should we let power user using pre, post-releases handle the version as they see fit?

[2021-01-18 16:06] dou-du opened #135 "Cannot uninstall by "jupyter labextension uninstall " and "pip uninstall""
When I develop the extension and install it by:

[code]

I cannot uninstall by neither "pip uninstall" and "jupyter labextension uninstall".
When I try "jupyter labextension uninstall" it gave the error:

[code]

[2021-01-19 07:21] jasongrout commented on #135
And what does `pip uninstall` do?

It may be that you'll need to delete the symbolic link directly.

Perhaps there should be a corresponding `develop` command to delete a symbolic link.

[2021-01-19 11:32] dou-du commented on #135
Thanks. The pip uninstall only the python package. Yes, it will be nice to have a command to delete the symbolic link.

[2021-01-19 16:29] jtpio opened #136 "Make the 3.0 branch the default branch?"
This was briefly discussed in https://github.com/jupyterlab/jupyterlab/pull/9630

And would be similar to what the `jupyterlab_apod` repo does: https://github.com/jupyterlab/jupyterlab_apod

Since the JupyterLab upgrade script checks out the `3.0` branch of this cookiecutter to perform the upgrade:

https://github.com/jupyterlab/jupyterlab/blob/58d4f6de6eb8544c88e9580b9b1b35416f0c0173/jupyterlab/u

[2021-01-19 17:36] jasongrout commented on #136
+1

[2021-01-26 11:05] jtpio opened #137 "Add testing"
It would be nice to add the structure for unit tests with `jest` to this cookiecutter by default.

This would let extension authors quickly get started with testing, as it often requires knowing what dependencies to include and what structure to follow (currently documented in https://jupyterlab.readthedocs.io/en/stable/extension/extension_dev.html?#testing-your-extension).

Additionally there cou

[2021-01-26 11:09] jtpio commented on #136
@jasongrout are you able to to make `3.0` the default branch?

Maybe the simplest could be to delete the existing `3.0` branch, and then use the GitHub branch rename feature in the repo settings?

[2021-01-26 17:45] blink1073 commented on #136
I updated the default branch to be 3.0

[2021-01-27 08:15] jtpio commented on #136
Thanks!

[2021-01-27 08:15] #136 closed

[2021-02-11 11:37] janjagusch opened #139 "Add "author_name" in package.json and setup.py"
I receive the following warning during the package build:

[code]

I could get rid of that warning by adding "author_name" to the `package.json` and referencing it in `setup.py`.

I'd be glad to open a PR on this, if that's something you want to have fixed. :)

[2021-02-11 12:00] blink1073 commented on #139
Yes, please!

[2021-02-12 07:11] janjagusch commented on #139
Cool, will do that today. I assume we will have to make the same change in https://github.com/jupyterlab/extension-cookiecutter-js, right? And also I believe the tutorial would need to be slightly adjusted (https://jupyterlab.readthedocs.io/en/stable/extension/extension_tutorial.html). Should I create follow up issues, @blink1073?

[2021-02-12 12:16] #139 closed, assigned to nobody

[2021-02-12 12:16] blink1073 commented on #139
Yes, please do.  Thank you for your help!

[2021-02-13 06:51] rizqventure opened #141 "Spam"

[2021-02-13 14:48] fcollonval commented on #141
This has been reported as spam to GitHub - as well as PR's comments.

[2021-02-13 14:48] #141 closed, assigned to nobody

[2021-02-16 22:20] krassowski opened #142 "Ensure that the default workflow tests the source extension installation"
I learned over at https://github.com/krassowski/jupyterlab-lsp/issues/518 that extension authors should not only test the installation of federated extension, but the source version too and do it in a clean environment (without the dev dependencies installed). I think that it is important to have this as a step in CI. I think that the default workflow does not do that:

https://github.com/jupyterl

[2021-05-03 17:09] raulotaolea opened #145 "Creating a server extension with cookiecutter doesn't work"
## Description
When I create a new extension with a **server extension** using typescript based cookiecutter in a new python environment, the example doesn't work. I don't know if I should do something in addition to build and install it.

## Reproduce

I create a new python env:
[code]
then I create a new extension using typescript cookiecutter:
[code]
with the following info:
[code]

Then I buil

[2021-05-04 05:27] fcollonval commented on #145
Hey, if you look at the readme generated for the extension, you have the development installation procedure described see [that section](https://github.com/jupyterlab/extension-cookiecutter-ts/blob/3.0/%7B%7Bcookiecutter.python_name%7D%7D/README.md#development-install).

From your description, you are missing the python package installation and the activation of the server extension.

You can also

[2021-05-04 06:15] raulotaolea commented on #145
thanks @fcollonval ! I am so used to the fact that in the prebuilt extensions you don't have to manually activate the extension, that I have taken it for granted.

One more question, is it necessary to do the` pip install -e`? I thought that with `jupyter labextension develop` was not necessary.

[2021-05-04 06:46] fcollonval commented on #145
For a server extension, there are two parts: Typescript files for the frontend and Python for the backend (the server). You need `pip install -e` to install the server extension in dev mode. But the pip install logic will copy the frontend files. What you probably would like is to have the folder symlinked to your dev folder. This is what `jupyter labextension develop` does (you can look at the `s

[2021-05-04 07:29] raulotaolea commented on #145
oh, yes, what I wanted to say is that `jupyter labextension develop` calls internally to `pip install -e` and then creates the symlink.

[2021-05-04 07:38] fcollonval commented on #145
Indeed I checked the code, you are correct `pip install -e` is called if the python package is not found when running `jupyter labextension develop`. I was not aware of that - thanks for pointing it to me.

[2021-05-04 13:43] jtpio commented on #142
Thanks @krassowski.

Since source extensions are still supported in JupyterLab it would indeed make sense to have a check on CI to do that.

[2021-05-04 13:57] jtpio opened #146 "Check installing from an sdist with jupyter-packaging 0.9"
https://github.com/jupyterlab/extension-cookiecutter-ts/pull/143 upgraded to Jupyter Packaging 0.9, and removed the `skip_if_exists` check that was used to not rebuild assets if they already exist.

This is useful when packaging for conda and was added in #121, for example to not require `jupyterlab` as a host dependency.

Trying with the latest cookiecutter, the following now seems to be triggeri

[2021-05-04 13:59] bollwyvl commented on #142
gah... this well is deep. for it to actually be testing where problems often occur for users, it would have to run:
- on all the major platforms (but mostly windows)
- try different shells
- use/not use conda
- have crazy extensions for `npm.(exe|cmd|bat)`
- have non-unicode characters in and spaces in the path
- have really long paths
- have UNC network paths
- in OneDrive/box/whatever shared fol

[2021-05-04 14:25] bollwyvl commented on #146
Sooo... i think we need _need_ to get `jupyter_packaging` out of `install_requires`. this is going to create a lot of builds that have hard-to-understand errors, and it will only take one old/over-specified version break somebody's build in weird ways.

[2021-05-04 15:29] bollwyvl commented on #146
Also, in this specific case, for this _specific_ error, deleting `pyproject.toml` does the trick.

https://github.com/conda-forge/staged-recipes/pull/14797

[2021-05-05 10:30] jtpio commented on #146
We should also add a CI workflow to the cookiecutter that would upload the sdist and wheel as artifacts, and install them in a clean environment without the build dependencies already installed.

[2021-05-06 12:04] #146 closed, assigned to nobody

[2021-05-06 12:06] jtpio opened #150 "Dist install isolation in the extension CI workflow"
https://github.com/jupyterlab/extension-cookiecutter-ts/pull/149 added a CI check to install from the `sdist` and make sure the extension is correctly bundled and installed without triggering a new build.

We can add something similar to the extension workflow itself too:

https://github.com/jupyterlab/extension-cookiecutter-ts/blob/3.0/%7B%7Bcookiecutter.python_name%7D%7D/.github/workflows/build.

[2021-05-11 11:14] #150 closed, assigned to nobody

[2021-05-14 01:55] chrisjsewell opened #153 "Binder postBuild missing steps?"
## Description

It feels like the Binder postBuild is missing a few steps.
For an extension with server, this works to display my extension:

[code]

However, there is still a problem for me that POST requests to the server are failing (see below for full output), even though this works fine locally.

Perhaps you know a fix?

## Reproduce

See binder link of https://github.com/chrisjsewell/jlab_ai

[2021-05-14 01:57] chrisjsewell commented on #153
thanks otherwise, the extension tutorial + this cookiecutter made it pretty easy to get my extension up and running!

[2021-05-14 12:11] chrisjsewell commented on #101
Yeh added to this, it would be good to have some minimal instructions for uploading to npm (so it can be found by the Extension Manager), and a CI setup 👍
As a "Python first" developer; PyPI and Conda I know well, but I've never released to npm before 😬 I imagine I won't be the only one with this kind of user profile.

[2021-05-14 12:26] jtpio commented on #101
Yes, and also so it can be used by other extensions or alternative distributions if needed :+1:

Usually for `npm` a single `npm publish` is enough (and an initial `npm login` to authenticate)

[2021-05-14 12:30] chrisjsewell commented on #101
Thanks, that what I had hoped!
I assume the `package.json` section:

[code]

is all I need to have the manager aware of the server side requirement

[2021-05-14 21:24] jtpio commented on #153
Thanks @chrisjsewell for the report.

Would you be able to check whether removing the `-e` part of the following command does the trick?

https://github.com/jupyterlab/extension-cookiecutter-ts/blob/12c14521137244f8297b82ecc1b6d55327b487be/%7B%7Bcookiecutter.python_name%7D%7D/binder/postBuild#L33

Looks like this might be related to the recent update of `jupyter-packaging`.

Maybe the server exten

[2021-05-21 05:08] s-weigand commented on #153
This fixed it for me with a client-side only extension that didn't `console.log` that it is installed with the `-e` flag in place.

[2021-05-21 07:03] fcollonval commented on #153
The root cause is that BinderHub is not using the new jupyter server logic. So a server extension needs to be made backward compatible to work: see https://github.com/jupyterlab/jupyterlab-git/pull/863

[2021-05-21 07:17] fcollonval commented on #145
I close this as answered. Regarding the call of `pip install -e` by `jupyter labextension develop`, it is best to ask the user to do first `pip install -e` as `jupyter labextension develop` will not work on Windows and because it is good to not hide too much what is going on.

[2021-05-21 07:17] #145 closed, assigned to nobody

[2021-05-21 07:22] fcollonval commented on #45
Closing this as inactive.

[2021-05-21 07:22] #45 closed

[2021-05-21 09:01] #71 closed

[2021-05-21 09:03] #153 closed, assigned to nobody

[2021-06-04 20:22] #90 closed

[2021-06-09 08:41] martinRenou opened #159 "Installation will not work if assets are not found and jupyter-packaging is not installed"
If JavaScript build assets are not there and if jupyter-packaging is not installed, the installation will be broken without any error message. This is due to the following try-except:

https://github.com/jupyterlab/extension-cookiecutter-ts/blob/3.0/%7B%7Bcookiecutter.python_name%7D%7D/setup.py#L72-L84

[2021-06-11 20:47] dmedv opened #160 "Can't initialize cookiecutter or clone the git repo on Windows"
## Description

The repository contains a path that is invalid on Windows.

## Reproduce

1. Run `cookiecutter https://github.com/jupyterlab/extension-cookiecutter-ts`
2. See error `Command '['git', 'clone', 'https://github.com/jupyterlab/extension-cookiecutter-ts']' returned non-zero exit status 128.`
3. Run `git clone https://github.com/jupyterlab/extension-cookiecutter-ts`
4. See error `invalid

[2021-06-12 08:05] fcollonval commented on #160
Thanks for reporting the issue @dmedv

https://github.com/cookiecutter/cookiecutter/blob/52dd18513bbab7f0fbfcb2938c9644d9092247cf/cookiecutter/prompt.py#L187

[2021-06-14 06:37] fcollonval commented on #160
Actually the `__` feature is not available on the stable version :disappointed:

[2021-06-14 15:17] #160 closed, assigned to fcollonval

[2021-06-17 17:49] jtpio opened #162 "Make the repository compatible with Jupyter Releaser"
### Problem

Extension authors creating a new extension from this cookiecutter will very likely want to release it at some point.

For now there is no real instructions for releasing the extension in the cookicutter itself, just a couple of notes in the extension tutorial: https://jupyterlab.readthedocs.io/en/stable/extension/extension_tutorial.html#publishing-your-extension

Ideally, the generate

[2021-06-18 15:30] jtpio commented on #162
Testing on a simple (soon to be archived) repo: https://github.com/jtpio/jupyterlab-python-file, logging here some findings.

It looks like the "Draft Release Action" current builds npm before Python:

https://github.com/jupyter-server/jupyter_releaser/blob/cba7bf7981c41415eda5ae4d2d3026908f003211/jupyter_releaser/actions/draft_release.py#L9-L13

And the cookiecutter assumes using `jlpm` which req

[2021-06-18 19:51] jtpio commented on #162
Adding the following hook to the `package.json` builds the package:

[code]

![image](https://user-images.githubusercontent.com/591645/122609839-ef0d1200-d07e-11eb-8eed-cc1491bcab25.png)

But then stops a bit later when trying to extract the package:

![image](https://user-images.githubusercontent.com/591645/122609929-15cb4880-d07f-11eb-9387-cc1bf9b12fca.png)

Here: https://github.com/jupyter-serv

[2021-06-21 08:48] jtpio commented on #162
Checking the last line of the command output seems to do the trick for now:

[code]

Next the releaser tries to import the package, but since that test extension is not importable it fails a little bit after:

![image](https://user-images.githubusercontent.com/591645/122733968-f9e1c580-d27d-11eb-97a7-48292da3769c.png)

Also the cookiecutter now defaults to underscores for the package name which it

[2021-06-21 13:09] jtpio commented on #162
Looks like everything went well after:

- adding the hook as mentioned in https://github.com/jupyterlab/extension-cookiecutter-ts/issues/162#issuecomment-864242628
- using the `npm pack` fix mentioned in https://github.com/jupyterlab/extension-cookiecutter-ts/issues/162#issuecomment-864853327
- explicitly creating `.npmrc` in the home directory with (probably something to fix in `jupyter_releaser`

[2021-06-21 13:10] jtpio commented on #162
This could probably handled here: https://github.com/jupyter-server/jupyter_releaser/blob/cba7bf7981c41415eda5ae4d2d3026908f003211/jupyter_releaser/npm.py#L130-L141

[2021-06-23 21:16] jtpio commented on #162
Now looking good with this test repo, with the package correctly publishing to `npm`:

![image](https://user-images.githubusercontent.com/591645/123168983-02eab680-d479-11eb-8151-979f71e688b3.png)

[2021-06-23 21:36] #162 closed, assigned to nobody

[2021-06-23 21:36] #101 closed

[2021-07-06 16:24] krassowski commented on #159
Just came here to note the same after seeing https://discourse.jupyter.org/t/extension-migration-issue-from-jupyterlab-2-x-to-3-x/9871. The current implementation requires `jupyter_packaging` to be a runtime dependency, which should not be the case I think?

[2021-07-06 16:28] meeseeksmachine commented on #159
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/extension-migration-issue-from-jupyterlab-2-x-to-3-x/9871/2

[2021-07-12 08:05] jtpio opened #166 "Make the dependency on `jupyter_server` optional"
It looks like the cookiecutter current requires `jupyter_server`:

https://github.com/jupyterlab/extension-cookiecutter-ts/blob/ae2a726a1dc6d83016de7b471ae0d40b878d59fc/%7B%7Bcookiecutter.python_name%7D%7D/setup.py#L53

Probably this is only useful when the lab extension also has a server extension. So we could guard this with `has_server_extension` like in other places.

[2021-07-12 22:07] mlucool opened #167 "setup.py ignoring ImportErrors"
Hi,

Why do we ignore import errors here: https://github.com/jupyterlab/extension-cookiecutter-ts/blob/ae2a726a1dc6d83016de7b471ae0d40b878d59fc/%7B%7Bcookiecutter.python_name%7D%7D/setup.py#L83 It would seem like if we can't import, we should fail.

I raise this, as I couldn't figure out https://github.com/deshaw/jupyterlab-execute-time/issues/44 for the longest time, and it turned out to be becau

[2021-07-13 10:44] #166 closed, assigned to fcollonval

[2021-07-16 10:20] #159 closed, assigned to nobody

[2021-07-16 10:20] #167 closed, assigned to nobody

[2021-07-28 11:53] hbcarlos opened #172 "Update to v3.1"
Since there is a new release of JupyterLab, it would be great to upgrade the extension template.
https://github.com/jupyterlab/jupyterlab/releases/tag/v3.1.0

[2021-07-29 10:56] hbcarlos commented on #172
Solved in #173

[2021-07-29 10:57] #172 closed, assigned to nobody

[2021-09-15 13:17] jtpio opened #179 "Add the Check Release workflow"
### Problem

The cookiecutter repo should already be compatible with the Jupyter Releaser: https://github.com/jupyter-server/jupyter_releaser

However we should also add the check release workflow so the generated repo can be continuously tested to be release ready.

### Proposed Solution

We add a default Check Release workflow to: https://github.com/jupyterlab/extension-cookiecutter-ts/tree/3.0/

[2021-09-15 16:49] #179 closed, assigned to nobody

[2021-10-11 17:19] jasongrout opened #186 "master vs 3.0 branch"
It looks like the master and 3.0 branches have diverged quite a bit at this point, with the 3.0 branch being the main repo branch and the most recently updated.

They diverged at the 3.0 tag. Master looks like it has these PRs merged in beyond the 3.0 tag:

* #123
* #124
* #126
* #127
* #128
* #114
* #129
* #130
* #132
* #115
* #134
* #131
* #138

Since the main repo branch is 3.0, I think it make

[2021-10-11 17:43] blink1073 commented on #186
Agreed

[2021-10-14 16:05] fcollonval commented on #186
The mentionned PRs where merged in 3.0 in https://github.com/jupyterlab/extension-cookiecutter-ts/pull/133

To check I carry out a merge of master in 3.0 and I can confirm that nothing needs to be changed on 3.0.

The only action left is to remove the `master` branch.

[2021-10-14 16:11] blink1073 commented on #186
I am doing that now

[2021-10-14 16:13] blink1073 commented on #186
Done, and I added branch protection to our versioned branches

[2021-10-14 16:14] #186 closed, assigned to nobody

[2021-10-14 16:24] fcollonval commented on #106
Closing this one as both the keyword and the classifier are set by this template.

[2021-10-14 17:46] jasongrout commented on #186
Thanks!

[2021-11-04 15:59] loichuder opened #188 "`fetchVersion` only works if the extension was built"
## Description

This is rather a request for confirmation than a bug report.

In `_version.py`, `fetchVersion` searches `package.json` in the current folder (that is the folder of the python sources):

https://github.com/jupyterlab/extension-cookiecutter-ts/blob/3.0/%7B%7Bcookiecutter.python_name%7D%7D/%7B%7Bcookiecutter.python_name%7D%7D/_version.py#L7

This means the version resolution works onl

[2021-11-04 16:20] fcollonval commented on #188
Yes indeed.

Unfortunately, we can not look outside of the python package as that code may not be in the source folder.

[2021-11-05 07:42] loichuder commented on #188
Ah indeed, I understand now. Thanks for the clarification !

[2021-11-05 07:42] #188 closed, assigned to nobody

[2022-01-24 07:27] jtpio opened #197 "Failing `theme` job on CI"
## Description

Looks like the `theme` job started failing on CI:

![image](https://user-images.githubusercontent.com/591645/150739392-fcc29206-71af-49f2-be34-e128cd283703.png)

Example run: https://github.com/jupyterlab/extension-cookiecutter-ts/actions/runs/1734417132

With the following error during `jlpm install`:

[code]

## Context

This CI check is triggered daily:

https://github.com/jupyt

[2022-01-24 15:40] #197 closed, assigned to fcollonval

[2022-01-25 13:46] jtpio opened #199 "Check the extension is released with prod assets"
## Description

In https://github.com/QuantStack/jupyterlab-js-logs/pull/24 we noticed the JupyterLab extension was released with development (non minified) assets.

This issue is here as a reminder to check if that's the case with this cookiecutter when we generate a brand new extension.

## Reproduce

- Generate a new extension
- Build the assets with the `jupyter-releaser`
- Check the assets in

[2022-01-25 13:53] hbcarlos commented on #199
Thanks! I'll look into this!

[2022-01-25 14:36] fcollonval commented on #199
This is not happening here as can be seen on the scheduled CI run: https://github.com/jupyterlab/extension-cookiecutter-ts/runs/4934014548?check_suite_focus=true - in the log of _Install server extension from a tarball_ the assets are listed.

It could indeed happen with older version of the cookiecutter due to the command `prepare` triggering the `build` command (that step was removed in the ment

[2022-01-25 14:48] hbcarlos commented on #199
Yes, but we saw that the releaser installs the extension in editable mode here:
https://github.com/jupyter-server/jupyter_releaser/blob/ca540f3441045db34d1b433c8a0714a9f97648ba/jupyter_releaser/lib.py#L565-L568
in the `prep-git` step. So we had to add this hook:
https://github.com/QuantStack/jupyterlab-js-logs/blob/84006193b64ec437d0053dcc269a4e6828c2228a/package.json#L87
to clean up the first bui

[2022-01-27 08:36] fcollonval commented on #199
indeed in this repo we don't test the template with the releaser. And you are making a good point. The editable mode is certainly building dev JS assets.

[2022-02-01 17:24] jtpio opened #202 "`variables.css` is created with `frontend` kind"
## Description

Creating a new extension from scratch creates the `variables.css` file used for a theme:

![image](https://user-images.githubusercontent.com/591645/152018355-a67af55f-8386-4fde-9959-825caaca562e.png)

![image](https://user-images.githubusercontent.com/591645/152018485-976b3577-b664-4dca-813b-2d49dd864ddd.png)

## Reproduce

Create a new extension and choose **1** (frontend).

## Co

[2022-02-02 08:38] #202 closed, assigned to nobody

[2022-02-11 22:11] #199 closed, assigned to fcollonval

[2022-02-12 10:54] fcollonval commented on #125
Considered as fixed by https://github.com/jupyterlab/extension-cookiecutter-ts/issues/182

[2022-04-11 18:14] Carreau opened #215 "Should style/index.js import index.css instead of base.css ?"
I have no clue, maybe I[m doing things wrong,]
but any modif I do to `index.css` of an extension have no effect.
It does if I apply them to base... that is unless I cahnge style/index.js to import from index and not base.

[2022-04-12 07:31] fcollonval commented on #215
The index.css/index.js mechanism comes from difficulties to tree shake styles in JupyterLab.

Long story short, the practice is to keep things as in this cookiecutter (aka index.css and index.js import base.css). And place your style in base.css.

[2022-04-12 07:43] Carreau commented on #215
Ok, I'll see if I can make a pull request that explain this in index.css.

[2022-04-12 10:22] psychemedia opened #216 "CookieCutter was working a week ago, broken now"
Cookiecutter ran successfully as of a week ago but now seems borked (I had a previously working version but foolishly said "yes" to download it again!;-):

- missing requirement: `jupyter_packaging`

In addition, several files appear to be missing, such as:
- `src/index.ts`
- `tsconfig.json`

From https://jupyterlab.readthedocs.io/en/stable/extension/extension_tutorial.html#create-an-extension-pro

[2022-04-12 11:19] martinRenou commented on #216
The jupyter_packaging build dependency is still here: https://github.com/jupyterlab/extension-cookiecutter-ts/blob/3.0/%7B%7Bcookiecutter.python_name%7D%7D/pyproject.toml#L2

Do you see it missing somewhere else?

src/index.ts
tsconfig.json

I just generated a project from the 3.0 branch and those files are not missing.

From your screenshot, I see a `lib` directory which only appears if you built

[2022-04-12 11:24] psychemedia commented on #216
Clean run:

[code]

Then:

[code]

[2022-04-12 11:25] psychemedia commented on #216
I also note the `has_binder [n]` default and I still get the `binder/` directory?

[2022-04-12 11:28] psychemedia commented on #216
DOh! -js in the cookiecutter call...

[2022-04-12 11:28] #216 closed, assigned to nobody

[2022-04-12 11:28] martinRenou commented on #216
You are using extension-cookiecutter-**js**, not extension-cookiecutter-**ts**

[2022-05-20 14:04] martinRenou opened #220 "The labextension is included twice in the Python wheel"
## Description

With the packaging approach taken in this repo, the wheel will contain twice the labextension:
- once installed in `/lib/python*.*/python_pkg_name/labextension/`
- once installed in `/share/jupyter/labextensions/`

I suppose it was done this way so that the Python module can find the version looking at the `package.json` of the labextension?

## Expected behavior

Include the labex

[2022-05-20 18:17] fcollonval commented on #220
This is gonna be tricky because it is the consequence of integrating the JS assets to allow installation from source distribution without the need to transpile those Javascript assets.

Does the linked PR keeps the JS assets in the resulting source distribution?

[2022-05-20 18:31] martinRenou commented on #220
Yes it keeps them in the source distribution, under `share/jupyter/labextensions/ext_name` at the root of the source, which is in a way the representation of what will be installed in the prefix.

[2022-05-23 06:36] martinRenou commented on #220
@fcollonval I suppose the initial reason for installing the labextension under `/lib/python*.*/python_pkg_name/labextension/` as package data, was to have access to the `package.json` file in order to get the package version https://github.com/jupyterlab/extension-cookiecutter-ts/blob/3.0/%7B%7Bcookiecutter.python_name%7D%7D/%7B%7Bcookiecutter.python_name%7D%7D/_version.py#L9.

This is avoided *e.

[2022-05-23 12:50] fcollonval commented on #220
@martinRenou I'm reopening as I assume the close action comes from automatic link.

[2022-05-23 12:54] martinRenou commented on #220
Thanks! I didn't know automatic closing worked between repos, now I know :P

[2022-06-04 11:30] #137 closed

[2022-06-16 19:33] krassowski opened #221 "Check release test fails for a fresh cookiecutter due to `ui-tests` path issues"
## Description

Freshly seeded extension from cookiecutter will fail `check_release` test because of incorrect relative paths to `ui-tests` scripts in `/ui-tests/README.md` and outdated link to https://playwright.dev/docs/intro/ (now https://playwright.dev/docs/intro - no trailing slash):

[code]

The bigger problem is that we are not testing the tests.

## Reproduce

1. Cut cookies with all setti

[2022-06-27 12:50] fcollonval commented on #221
Closing as fixed by #224 - thanks

[2022-06-27 12:50] #221 closed, assigned to nobody

[2022-08-23 07:25] Shaiken opened #227 "I don't know which part is wrong"
i just create a new extension project, but not very smooth.

input command  "jlpm install" fail or "jupyter labextension install" fail

that my env.

nvm ls
[code]

jupyter --v
[code]

ubuntu nvidia container
[code]

i do this .
step1.  change jupyter lab version, "pip install jupyterlab==3.2.9"
step2. change node version, "nvm use v16.17.0"
step3. check out 3.0 version, cookiecutter https://githu

[2022-08-23 07:48] Shaiken commented on #227
i copy a index.js to /usr/local/share/jupyter/lab/staging/node_modules/GISAIv3/style
It seems to work.

[2022-08-23 07:48] #227 closed, assigned to nobody

[2022-08-23 07:49] fcollonval commented on #227
@Shaiken It seems you are mixing different ways to deal with an extension.

Starting with JupyterLab v3, it is recommended to use pre-built extension and not source extension any longer (this is the expectation of the cookiecutter).

When you get your extension skeleton from the cookiecutter template, you should execute the following command in the extension folder:

[code]

I highly recommend not

[2022-08-23 07:53] Shaiken commented on #227
@fcollonval thank you!! i got it.

[2022-08-24 17:05] jasongrout commented on #24
I'm happy with any of my contributions to this cookiecutter to be considered public domain (e.g., CC-0). In other words, from my standpoint (i.e., my contributions here), I'm happy to have people use the output of the cookiecutter in whatever way they want.

[2022-08-24 17:08] fcollonval commented on #24
I support to the re-licensing to CC-0.

[2022-08-24 17:11] krassowski commented on #24
I support the re-licensing to public domain/CC-0 too.

[2022-08-24 17:16] jasongrout commented on #24
In our JupyterLab dev meeting today, @vidartf pointed out that the cookiecutter generates an extension where the copyright is assigned to the person that ran the cookiecutter. The legal assumption here is that, as the copyright holder, presumably the person that ran the cookiecutter could then relicense their project however they wished.

That's an interesting approach to this issue. I'm really cu

[2022-08-24 17:16] jasongrout commented on #24
If it is sound, we should probably add a note to the top-level readme, indicating to contributors the legal theory here...

[2022-08-24 17:19] vidartf commented on #24
I'm for making all the code in this repo CC-0, since it should remove any doubt about what the licenses cover or not, and it will also make the license in the output make sense (CC-0 can, AFAIU, be re-licensed like that without issue).  #notalawyer

[2022-08-24 17:20] vidartf commented on #24
BTW, here's the list of committers according to GH: https://github.com/jupyterlab/extension-cookiecutter-ts/graphs/contributors

[2022-09-27 06:53] jtpio opened #231 "Create a `4.0` branch"
### Problem

It would be great to start encouraging extension authors to create / test their extensions with the JupyterLab 4 and Notebook 7 pre-releases using this cookiecutter.

### Proposed Solution

- Create a new `4.0` branch to update the packages to the latest 4.0 pre-release.
- Document it in the README: `cookiecutter https://github.com/jupyterlab/extension-cookiecutter-ts --checkout v4.0`

[2022-09-27 07:23] jtpio opened #232 "More robust CI checks for `labextension_name`"
One of the test is using `my-labextension` and `my_labextension` and did not catch this. Could you provide more details on when and where is the error emitted so we can make the CI test more robust?

_Originally posted by @fcollonval in https://github.com/jupyterlab/extension-cookiecutter-ts/pull/229#pullrequestreview-1103601131_

[2022-10-04 08:32] jtpio commented on #220
@martinRenou do you know if that's still the case after the switch to hatch (https://github.com/jupyterlab/extension-cookiecutter-ts/pull/222)?

[2022-10-04 12:10] jtpio commented on #231
The `4.0` branch has been created: https://github.com/jupyterlab/extension-cookiecutter-ts/tree/4.0

[2022-10-04 12:12] jtpio commented on #231
We can backport changes landing on the `3.0` to the `4.0` if any, until `4.0` becomes the default branch.

[2022-10-18 08:54] ragokan commented on #231
I also see that it is created but it actually does not work, weirdly

[code]

[2022-10-18 08:56] jtpio commented on #231
@ragokan you would have to checkout `4.0`:

[code]

[2022-10-18 08:57] jtpio commented on #231
Closing as fixed, the `4.0` is now updated to use the latest packages: https://github.com/jupyterlab/extension-cookiecutter-ts/pull/234

[2022-10-18 08:57] #231 closed, assigned to nobody

[2022-10-24 12:13] thomaslettau opened #235 "Include jupyter-packaging in the dependencies"
When I first tried to run `jupyter labextension develop . --overwrite` I got cryptic distutils error since I had not installed ` jupyter-packaging` manually. I could only resolve the error by looking into [[environment.yml](https://github.com/jupyterlab/extension-examples/blob/master/environment.yml)](https://github.com/jupyterlab/extension-examples/blob/master/environment.yml). I have no experien

[2022-10-24 13:03] fcollonval commented on #235
Thanks for reporting @TheIdealis

Could you provide some background on the version you are using? How old is the template you are using?

[2022-10-24 14:02] thomaslettau commented on #235
My package versions are:

- jupyterlab                3.4.8
- python                    3.10.6

and I used `cookiecutter https://github.com/jupyterlab/extension-cookiecutter-ts --checkout v3.0`. Again, since I'am really inexperienced I  don't know, if I missed something but I had to install `jupyter-packaging` in order to execute `jupyter-packaging` successfully.

[2022-10-24 17:35] savakarrohan commented on #135
Where is this `share/jupyter/labextension/your-extension-name` folder typically located? @dou-du

In my particular case I couldn't even disable my extension.

[2022-10-25 05:20] savakarrohan commented on #135
Ahhh yes, I realised the share folder is the current installation path of the jupyter package,
In my case it was under `conda`

[2022-10-26 09:27] fcollonval commented on #235
Did you plan to publish your extension publicly? If yes, could you write the url to the repository here? So we can have a look at the generated files.

[2022-10-26 13:11] thomaslettau commented on #235
I think there is a misunderstanding. My installation is working, I just think that `jupyter-packaging` should be either added to the documentation or the dependencies, since `extension-cookiecutter-ts` is not working without it and the error message was rather misleading.

[2022-10-26 13:20] bollwyvl commented on #235
Build tools (or even more aggregious all-in-one tools like `poetry`) are not great to include in library dependencies, and jupyter-packaging has kind of a rough track record for its effective versions due to the poor suggestion of `~`, which we should generally not promote in a mixed python/node environment, as the fancy operators have different meanings w.r.t number of digits, leading zeros, etc.

[2022-10-27 08:19] fcollonval commented on #235
Indeed there is a misunderstanding because the current template version (if you look at branch 3.0) is not using `jupyter-packaging` (we move to use `hatch` and `hatch-jupyter-builder`; see https://github.com/jupyterlab/extension-cookiecutter-ts/pull/222). This is the reason I'm trying to understand why you need `jupyter-packaging` for your new extension. My guess is that you are not using the lat

[2022-10-27 10:28] thomaslettau commented on #235
Sorry for the confusion! If I remove `jupyter-packaging` from [environment.yml](https://github.com/jupyterlab/extension-examples/blob/master/environment.yml) and follow the TL;DR instructions, I get a clear warning "_Build tool `jupyter-packaging` is missing_" (I guess the examples are on an older version). If I use `cookiecutter` in this fresh environment everything works without any problems.
Th

[2022-10-27 10:28] #235 closed, assigned to nobody

[2022-10-27 12:13] fcollonval commented on #235
Thanks for checking out @TheIdealis - we hope that indeed the new build toolchain will be more robust as it uses modern customized build system.

[2022-11-06 02:25] krassowski opened #237 "Unused `MANIFEST.in` after hatchling migration?"
If I understand correctly, `MANIFEST.in` has no effect for sdist in when using hatchling (source: https://scikit-hep.org/developer/pep621). I was a bit confused as to why files I excluded in manifest were still in the `dist/*tar.gz`. I think that we should drop manifest.

Also, it would be great if we could document these kind of changes in a changelog as it seems like playing an endless catch up

[2022-11-06 02:34] krassowski commented on #237
Though manifest seemed like a better idea, as we could exclude `binder` but still track changes with VCS. The equivalent in hatch is `[tool.hatch.build.targets.sdist]`. We already use it to exclude `.github` but not `binder`, `lib`, `**/node_modules` as we do for manfest.

[2022-11-08 04:53] krassowski commented on #220
Yes, this is still the case with hatch. +1 for making the cookiecutter produce smaller wheels.

[2022-11-08 09:50] fcollonval opened #239 "The python version in `_version.py` is not bumped"
## Description

Since we moved to use nodejs version, the hard-coded Python version is not bumped by hatch.

~~I opened https://github.com/agoose77/hatch-nodejs-version/pull/15 to fill a gap for this scenario~~

Actually as pointed out by @agoose77 we can use the standard hook [version](https://hatch.pypa.io/latest/plugins/build-hook/version/).

[2022-11-09 08:16] martinRenou commented on #220
Indeed it's still the case after the migration to hatch.

Sadly, for some packages where I fixed this duplication (bqplot etc), this issue came back with the migration to hatch.

[2022-11-09 08:29] #239 closed, assigned to nobody

[2022-11-09 08:29] fcollonval commented on #237
Fixed by #238

[2022-11-09 08:29] #237 closed, assigned to nobody

[2022-11-09 09:04] fcollonval commented on #220
To solves this with hatch, we can keep the current logic (of placing the JS assets in the Python packaging). But exclude that folder from the wheel (only) using: https://hatch.pypa.io/latest/build/#configuration

[2022-11-15 07:59] #220 closed, assigned to nobody

[2022-11-26 04:32] rickmcgeer opened #248 "Freezing the module prevents code updates"
## Description

Once an extension is packaged as recommended in https://jupyterlab.readthedocs.io/en/stable/extension/extension_tutorial.html#extension-tutorial, updates to the code are no longer reflected in the extension, even after `jlpm clean:all` is run.  The pattern is to make a code change, then test it.  The JavaScript code viewed in the browser debugger is the code before the change.  How

[2022-11-28 09:52] fcollonval commented on #248
@rickmcgeer

I cannot reproduce this. I ran:

1. `python -m cookiecutter https://github.com/jupyterlab/extension-cookiecutter-ts` - using default inputs
2. `python -m pip install -e ".[test,dev]"`
3. `jupyter labextension develop --overwrite .`
4. Check the default log message
5. Changed the console log message and check it was applied
6. `python -m build .`
7. Changed the console log message agai

[2022-11-28 14:53] rickmcgeer commented on #248
@fcollonval

thanks very much for the prompt response and for trying to reproduce this, and sorry if there was any issue.

I checked the web browser cache, and did a hard refresh (right click on load with dev tools open).  I also removed node_modules and lib, and lib in the packaged extension directory, and I found the same issue.

I did install the packaged extension, and I think you're right, th

[2022-11-28 15:11] fcollonval commented on #248
If you installed the packaged extension, you can restored the development version by running:

[code]

You don't need to clone again your code or to nuke your environment.

[2022-11-29 04:48] rickmcgeer commented on #248
@fcollonval
Merci beaucoup!  I suggest we put this in the tutorial docs...
I am going to rewrite the extension anyway, to take advantage of the Yjs technology.  It largely replicates the functionality in [https://github.com/jupyterlab/extension-examples/tree/master/documents](https://github.com/jupyterlab/extension-examples/tree/master/documents) (you may know something about that :-)) except that